body{
    padding: 0;
    margin: 0;
  }
  
  #container{
      background-image: linear-gradient(#292a30 .1em, transparent .1em), 
      linear-gradient(90deg, #292a30 .1em, transparent .1em);
      background-size: 4em 4em;
      height: 100vh;
      background-color:#5A3828;
    }
/*------------------------------------------------------------------------------------------------------------
    #lockScreen {
        position: fixed;
        transition: transform 0.5s ease;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    background-image: url(img/LockScreen.jpg);
    background-size: cover;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lockScreen.hidden {
    transform: translateY(-100vh);
}
------------------------------------------------------------------------------------------------------------    */
select{
    width: 16vw;
    height: 5vh;
    border-radius: 5px;
    border-width: 3px;
    background-color: yellow;
    border-color: #292a30;
}
option{
    background-color: rgb(62, 144, 192);
    border-radius: 5px;
    border-width: 3px;
    border-color: #292a30;
    top:1px
}
#lockBTN{
    width: 3vw;
    height: 5vh;
    border-radius: 5px;
    border-width: 3px;
    background-color: yellow;
    border-color: #292a30;
}
h1{
  margin-left: 20px;
  margin-right: 1px;
  user-select: none;
}
p{
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 1px;
  user-select: none;
}
h3{
  margin-left: 10px;
  margin-right: 10px;
  user-select: none;
}
h4{
  margin-left: 8px;
  user-select: none;
}
.UI{
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 150px;
  height: 70px;
  border-radius: 10px;
  border-color: 000000;
  border-width: 2px;
  border-style: solid;
  position: fixed;
  margin-left: 5px;
  margin-top:65px;
  background-color: #9FC8DA;
}
.UI:hover{
  height: 300px;
  width: 160px;
  margin-left: 5px;
  overflow-y: scroll;
}
.card{
    border-style: solid;
    border-width: 3px;
    width: 250px;
    height: 400px;
    top: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    background-image: url('img/HeroQuest.png');
}
.card:hover{
    border-color:grey;
    border-width: 4px;
    z-index: 1;
}
::-webkit-scrollbar{
  width: 3px;
  margin-block: .5em;
}
::-webkit-scrollbar-track{

  background-color: rgb(111, 133, 255);
  border-radius: 10px;
  margin-block:.5em ;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(0, 38, 255);
  border-radius: 10px;
}
.card::after {
    content: "";
    position: absolute;
    left: -4px;
    right: -4px;
    top: 100%;
    height: 0;
    background: rgb(158, 212, 228);
    transition: height 0.2s ease;
    overflow-y: hidden;
    
}
 
.card:hover::after {
    margin-top: 1px;
    border-style: solid;
    border-color: grey;
    border-width: 4px;
    height: 40px;
}

.card:nth-child(1){
    left: 170px;
}
.card:nth-child(1):hover::after {
    content: "Aceptada por: LOS HEROES LEGENDARIOS";
    background: rgb(176, 174, 70);
}
.card:nth-child(2){ 
    left: 440px;
}
.card:nth-child(2):hover::after {
    content: "Aceptada por:";
}
.card:nth-child(3){
    left: 710px;
}
.card:nth-child(3):hover::after {
    content: "Aceptada por:";
}
.card:nth-child(4){
    left: 980px;
}
.card:nth-child(4):hover::after {
    content: "¡TODOS SON BIENVENIDOS!";
    background: rgb(105, 221, 82);
}
.card:nth-child(5){
    left: 230px;
    top:220px;
}
.card:nth-child(5):hover::after {
    content: "Aceptada por:";
}
.card:nth-child(6){
    left: 500px;
    top:220px;
}
.card:nth-child(6):hover::after {
    content: "Aceptada por:";
}
.card:nth-child(7){
    left: 770px;
    top:220px;
}
.card:nth-child(7):hover::after {
    content: "Aceptada por:";
}
.card:nth-child(8){
    left: 1040px;
    top:220px;
}
.card:nth-child(8):hover::after {
    content: "Aceptada por:";
}


#KickCat{
 margin-top: 10px;
 margin-left: 5px;
 width:150px;
 height: 50px;
 border-width: 4px;
 border-radius: 35px;
 background-color: rgb(173, 71, 92);
}
#KickCat:hover{
 background-color: rgb(197, 20, 55);
 border-width: 5px;
}